{#李文杰#}
<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="container nopadding-x-md" id="board-ctn">
        <div id="board">
            <article class="post-content mx-auto">
                <h1>{{ article.title }}</h1>
                <hr>
                {% if user == article.author %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#myModal" id="delete-btn">删除文章</a>
                    <!-- 新增一个隐藏的表单 -->
                    <form
                            style="display:none;"
                            id="safe_delete"
                            action="{% url "delete" article.id %}"
                            method="POST"
                    >
                        {% csrf_token %}
                        <button type="submit">发送</button>
                    </form>
                    &nbsp
                    <a href="{% url "update" article.id %}">编辑文章</a>
                {% endif %}
                &nbsp
                <small>
                <span class="iconfont icon-users">
                            {{ article.total_views }}
                            </span>
                </small>
                <hr>
                <div class="markdown-body">
                    <p>{{ article.body }}</p>
                </div>
                <hr>
                <div>
                    <div class="license-box my-3">
                        <div class="license-title">
                            <div>{{ article.title }}</div>
                        </div>
                        <div class="license-meta">
                            <div class="license-meta-item">
                                <div>作者</div>
                                <div>{{ article.author }}</div>
                            </div>
                            <div class="license-meta-item license-meta-date">
                                <div>发布于</div>
                                <div>{{ article.created }}</div>
                            </div>
                            <div class="license-meta-item">
                                <div>许可协议</div>
                                <div><a target="_blank"
                                        href="https://creativecommons.org/licenses/by/4.0/"><span
                                        class="hint--top hint--rounded" aria-label="BY - 署名"><i
                                        class="iconfont icon-by"></i></span></a></div>
                            </div>
                        </div>
                        <div class="license-icon iconfont"></div>
                    </div>
                </div>
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <hr>
                        <p>
                            <strong style="color: pink">
                                {{ comment.user }}
                            </strong> 于
                            <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
                        </p>
                        <div class="markdown-body" style="font-family: inherit; font-size: 1em;">
                            {{ comment.body }}</div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
    <script>
        document.getElementById("delete-btn").onclick = function () {
            if (confirm("确认删除文章？")) {
                document.getElementById("safe_delete").submit();
            }
        }
    </script>
{% endblock content %}